<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMpQUO1PLIF_krUBXFCAjSajtZ4bh7gSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>945395384886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdurahmanaydin.Flash-Chat-Section-15</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-section-15</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-section-15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945395384886:ios:b617472e901563870d0e97</string>
</dict>
</plist>